// Fonts
@import "~font-awesome/scss/font-awesome.scss";
@import "~@mdi/font/scss/materialdesignicons.scss";

.text-red {
    color: red;
}
label.required::after {
    content: "*";
    color: red;
    padding-left: 2px;
}
a {
    color: #f6ac4d;
    text-decoration: none;
    font-weight: 500;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f6ac4d;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #f6ac4d;
}
#avatar-image,
.dashboard-image {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin-bottom: 20px;
}
.ck-editor__editable {
    min-height: 200px;
}

.parsley-errors-list {
    list-style: none;
    padding: 0;
    color: red;
    font-size: 12px;
}
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.custom-control-label::before,
.custom-control-label::after {
    top: 0.4rem;
    left: -2rem;
    width: 1.5rem;
    height: 1.5rem;
}

.custom-control-label {
    margin-left: 0.5rem;
}

.mt-10 {
    margin-top: 10px;
}
.pb-50 {
    padding-bottom: 50px;
}

.navbar-default {
    .admin-nav {
        margin-top: 35px;
    }

    .admin-nav.navbar-nav > li > a {
        padding: 0 12px;
        font-size: 15px;
        font-weight: 600;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
            Roboto, "Helvetica Neue", Arial, sans-serif !important;
    }

    .navbar-nav > li.active > a {
        color: #fff;
    }
}

.btn.btn-primary,
.btn.btn-success,
.btn.btn-danger,
.btn.btn-warning {
    color: #fff;
    font-family: "Baloo Thambi 2", cursive;
    margin-bottom: 10px;
    border-radius: 25px;
    font-weight: 500;
    padding: 8px 25px;
    transition: 0.5s ease;
    border-width: 2px;
}

.btn.btn-primary,
.btn.btn-success {
    background-color: #693988;
    border: 2px solid #693988;
    box-shadow: 0px 2px 9px #6939886b;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-success:hover,
.btn.btn-success:focus {
    background-color: transparent;
    border: 2px solid #693988;
    color: #693988;
    transition: 0.5s ease;
    text-decoration: none;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus {
    background-color: transparent;
    border: 2px solid #954120;
    color: #954120;
}

.btn.btn-warning:hover,
.btn.btn-warning:focus {
    background-color: transparent;
    border: 2px solid #9b8a30;
    color: #9b8a30;
}

.table {
    .btn.btn-primary {
        padding: 2px 15px;
        font-size: 12px;
        text-transform: uppercase;
        box-shadow: none;
        margin-bottom: 0;
    }
}

.dataTables_wrapper {
    .dataTables_paginate {
        .paginate_button {
            padding: 0 !important;

            a {
                background-color: #693988;
                color: #fff !important;
                border: 1px solid #693988;
            }
        }

        .paginate_button:hover,
        .paginate_button:active {
            color: #693988 !important;
            border: 0;
            background: transparent;
        }

        .paginate_button.active {
            a {
                color: #693988 !important;
                font-weight: 600;
                border: 1px solid #693988;
            }
        }
    }
}

.dashboard-screen {
    min-height: 70vh;
}

.box-body > .buttons-group {
    text-align: right;
    margin-bottom: 20px;
}

.box-body > .buttons-group > div {
    display: inline-block;
    margin-left: 10px;
}

.btn-group {
    .dropdown-menu {
        padding: 0;

        .dropdown-item {
            display: block;
            padding: 8px 10px;
            border: 0;
            background: transparent;
            border-top: 1px solid #ddd;
            color: #693988;
            width: 100%;
            text-align: left;
        }

        .dropdown-item:hover {
            text-decoration: none;
            background-color: #f7f7f7;
        }
    }
}

.rtl .form-control {
    direction: rtl;
}

.nav-tabs > li > a.active {
    border: 1px solid #ddd;
    color: #555;
    background-color: #f5f8fa;
    border-bottom-color: transparent;
}

.tab-content > .active {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-top-color: transparent;
}

.new_heading {
    color: #693988;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;

    span {
        color: #f7ab50;
    }
}

.message-chat {
    width: 100%;
    overflow: hidden;
}

.chat-body {
    min-height: 290px;
    height: calc(100vh - 250px);
    margin-bottom: 30px;
    overflow-y: scroll;
}

.message {
    position: relative;
    width: 100%;
}

.message br {
    clear: both;
}

.message .message-body {
    position: relative;
    width: auto;
    max-width: calc(100% - 150px);
    float: left;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dbe3e8;
    margin: 0 5px 20px 15px;
    color: #788288;
}

.message:after {
    content: "";
    position: absolute;
    top: 11px;
    left: 63px;
    float: left;
    z-index: 100;
    border-top: 10px solid transparent;
    border-left: none;
    border-bottom: 10px solid transparent;
    border-right: 13px solid #fff;
}

.message:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 62px;
    float: left;
    z-index: 99;
    border-top: 11px solid transparent;
    border-left: none;
    border-bottom: 11px solid transparent;
    border-right: 13px solid #dbe3e8;
}

.message .medium-image {
    float: left;
    margin-left: 10px;
}

.message .message-info {
    width: 100%;
    height: 22px;
}

.message .message-info > h5 > i {
    font-size: 11px;
    font-weight: 700;
    margin: 0 2px 0 0;
    color: #a2b8c5;
}

.message .message-info > h5 {
    color: #a2b8c5;
    margin: 8px 0 0 0;
    font-size: 12px;
    float: right;
    padding-right: 10px;
}

.message .message-info > h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 7px 13px 0 10px;
    color: #65addd;
    float: left;
}

.message .message-info > i.fa-trash {
    float: right;
    padding-top: 8px;
    padding-right: 9px;
    cursor: pointer;
}

.message hr {
    margin: 4px 2%;
    width: 96%;
    opacity: 0.75;
}

.message .message-text {
    text-align: left;
    padding: 3px 13px 5px 13px;
    font-size: 14px;
    word-wrap: anywhere;
}

.message-challenge {
    text-align: left;
    padding: 0px 13px 5px 13px;
    font-size: 11px;
}

.message.my-message .message-body {
    float: right;
    margin: 0 15px 20px 5px;
}

.message.my-message:after {
    content: "";
    position: absolute;
    top: 11px;
    left: auto;
    right: 63px;
    float: left;
    z-index: 100;
    border-top: 10px solid transparent;
    border-left: 13px solid #fff;
    border-bottom: 10px solid transparent;
    border-right: none;
}

.message.my-message:before {
    content: "";
    position: absolute;
    top: 10px;
    left: auto;
    right: 62px;
    float: left;
    z-index: 99;
    border-top: 11px solid transparent;
    border-left: 13px solid #dbe3e8;
    border-bottom: 11px solid transparent;
    border-right: none;
}

.message.my-message .medium-image {
    float: right;
    margin-left: 5px;
    margin-right: 10px;
}

.message.my-message .message-info > h5 {
    float: left;
    padding-left: 10px;
    padding-right: 0;
}

.message.my-message .message-info > h4 {
    float: right;
}

.message.info .message-body {
    background-color: #2da9e9;
    border: 1px solid #2da9e9;
    color: #fff;
}

.message.info:after,
.message.info:before {
    border-right: 13px solid #2da9e9;
}

.message.info .message-info > h4 {
    color: #fff;
}

.message.info .message-info > h5,
.message.info .message-info > h5 > i {
    color: #fff;
    opacity: 0.9;
}

.chat-footer {
    position: relative;
    width: 100%;
}

.chat-footer .send-message-text {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 65px 5px 15px;
    font-size: 13px;
    resize: vertical;
    outline: none;
    border: 1px solid #e0e6eb;
}

.chat-footer .send-message-button {
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.05);
    outline: none;
    font-weight: 600;
    border-radius: 50%;
    padding: 0;
}

.chat-footer .send-message-button > i {
    font-size: 16px;
    margin: 0 0 0 -2px;
}

.chat-footer label.upload-file input[type="file"] {
    position: fixed;
    top: -1000px;
}

.chat-footer .upload-file {
    display: block;
    position: absolute;
    right: 150px;
    height: 30px;
    font-size: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.25;
}

.chat-footer .upload-file:hover {
    opacity: 1;
}

.messages-panel img.img-circle {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.medium-image {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.img-circle {
    border-radius: 50%;
}
@media screen and (max-width: 767px) {
    .inner-dashboard-screens {
        .tabs-listing {
            .nav-pills {
                display: grid;
                li {
                    margin-top: 4px;
                }
            }
        }
    }
    .chat-height {
        height: auto;
    }
    .message-body .chat-body {
        background-color: #fff;
        width: 100%;
    }

    .message-body {
        width: 100%;
        margin: 20px 0;
        border: 1px solid #dce2e9;
        background-color: #fff;
    }

    .message .message-body {
        max-width: calc(100% - 85px);
    }

    .message-body .chat-body {
        background-color: #fff;
        width: 100%;
    }

    .message-body .message-top > .btn {
        border-radius: 0;
        width: 100%;
    }
    .step-form {
        .wizard {
            .tab-content{
                .input-group{
                    margin: 5px 1px 0px;
                }
            }
        }
    }
}

.dataTables_wrapper {
    min-height: 400px;
}

.inner-dashboard-screens {
    .tabbable-panel {
        .tabbable-line {
            .nav-tabs {
                li.dark-active {
                    a {
                        background-color: #693988;
                        box-shadow: 0px 2px 9px #6939886b;
                        border-radius: 20px;
                        border: 0px solid transparent;
                        &:hover {
                            background-color: #693988;
                            box-shadow: 0px 2px 9px #6939886b;
                            border-radius: 20px;
                        }
                    }
                }
                li {
                    margin-right: 2px !important;
                    a {
                        padding: 8px 8px !important;
                        min-width: 195px !important;
                        height: 70px !important;
                        border: 0px solid transparent;
                        ul {
                            li {
                                text-align: left !important;
                                margin-left: 10px !important;
                                line-height: 1.3 !important;
                                margin-top: 2px !important;
                                font-size: 15px !important;
                                span {
                                    font-size: 40px;
                                    position: absolute;
                                    right: 8px;
                                    top: 12px;
                                }
                            }
                        }
                    }
                }
                li {
                    a {
                        figure {
                            background-color: #5b2c79;
                            padding: 6px;
                            border-radius: 10px;
                        }
                    }
                }
                li.active {
                    a {
                        figure {
                            background-color: #e89a3b;
                            padding: 6px;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
    .tabs-listing {
        .nav-pills {
            margin-top: 20px;
            li {
                a {
                    background-color: #f7ab5047;
                    border-radius: 10px;
                    color: #8f6d4394;
                    font-family: "Baloo Thambi 2", cursive;
                    font-weight: 500;
                    margin-bottom: 10px;
                    margin-right: 3px;
                }
            }
            li.active {
                a {
                    background-color: #f7ab50;
                    border-radius: 10px;
                    color: #fff;
                    font-family: "Baloo Thambi 2", cursive;
                    font-weight: 500;
                }
            }
        }
    }
    .tab-content {
        .tab-pane {
            h3 {
                background-color: #f7ab5047;
                padding: 10px 10px;
                font-family: "Baloo Thambi 2", cursive;
                font-weight: 500;
                color: #693988;
                font-size: 17px;
                border-radius: 10px;
            }
            .lis-table-data {
                thead {
                    th {
                        font-family: "Baloo Thambi 2", cursive;
                        font-weight: 500;
                        padding: 10px 15px;
                        vertical-align: middle;
                    }
                }
                tbody {
                    th,
                    td {
                        background-color: #f5f5f5;
                        font-family: "Baloo Thambi 2", cursive;
                        font-weight: 500;
                        min-width: 170px;
                        padding: 10px 15px;
                        vertical-align: middle;
                        border-color: #fff;
                    }
                }
            }
        }
    }
}

.chat-section {
    figure {
        img {
            border-radius: 13px;
            height: 50px;
        }
    }
    h4 {
        font-family: "Baloo Thambi 2", cursive;
        font-weight: 500;
    }
    .yellow-box {
        background-color: #f7ab50;
        box-shadow: 0px 2px 9px #f7ab506b;
        padding: 5px 10px;
        border-radius: 15px;
        margin-top: 10px;
        h3 {
            margin: 0;
            margin-top: 10px;
            font-family: "Baloo Thambi 2", cursive;
            font-weight: 600;
            color: #fff;
            font-size: 16px;
            margin-bottom: 3px;
        }
        p {
            color: #fff;
            font-family: "Baloo Thambi 2", cursive;
            font-weight: 400;
        }
    }
    .purple-box {
        background-color: #693988;
        box-shadow: 0px 2px 9px #6939886b;
        padding: 5px 10px;
        border-radius: 15px;
        margin-top: 10px;
        h3 {
            margin: 0;
            margin-top: 10px;
            font-family: "Baloo Thambi 2", cursive;
            font-weight: 600;
            color: #fff;
            font-size: 16px;
            margin-bottom: 3px;
        }
        p {
            color: #fff;
            font-family: "Baloo Thambi 2", cursive;
            font-weight: 400;
        }
    }
}
.pagination-div {
    ul {
        list-style: none;
        display: flex;
        color: #fff;
        float: right;
        margin-top: 20px;
        li.previous {
            background-color: #693988;
            padding: 10px 16px;
            border-radius: 20px;
            line-height: 1.2;
            font-family: "Baloo Thambi 2", cursive;
            font-weight: 600;
        }
        li.no {
            background-color: #f7ab50;
            padding: 10px 16px;
            border-radius: 20px;
            line-height: 1.2;
            font-family: "Baloo Thambi 2", cursive;
            font-weight: 600;
        }
        li.next {
            background-color: #693988;
            padding: 10px 16px;
            border-radius: 20px;
            line-height: 1.2;
            font-family: "Baloo Thambi 2", cursive;
            font-weight: 600;
        }
    }
}
.pd-5 {
    padding-left: 5px;
    padding-right: 5px;
}
#n-challenge {
    h3 {
        color: #693988;
        background-color: #f7ab5047;
        padding: 15px 15px;
        border-radius: 10px;
        font-family: "Baloo Thambi 2", cursive;
        font-weight: 600;
        font-size: 18px;
    }
}

.pricing-user-option:hover,
.pricing-game-option:hover {
    cursor: pointer;
}
.home-body-section .pricing-user-option.active,
.home-body-section .pricing-game-option.active {
    background-color: #f7ab50;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*ecommerce-page-css*/
.ecommerce-page {
    margin-top: 140px;
}
.ecommerce-page .silder-img img {
    width: 100%;
}
.ecommerce-page h1 {
    color: #693988;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: 600;
    margin: 25px 0px 10px;
    font-size: 28px;
}
.ecommerce-page .price {
    color: #693988;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: 600;
    margin: 10px 0 25px;
    font-size: 18px;
}

.ecommerce-tab {
    margin-bottom: 40px;
}
.ecommerce-tab .tabbable-line .nav-tabs {
    border-bottom: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.ecommerce-tab .tabbable-line .nav li {
    position: relative;
    float: inherit;
    display: inherit;
}
.ecommerce-tab .tabbable-line .tab-content {
    margin-top: 30px;
}
.ecommerce-tab .tabbable-line .tab-content .ecommerce-box {
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 40px;
    border: 1px solid #dfdfdf;
    position: relative;
    margin-top: 20px;
}
.ecommerce-tab .tabbable-line .tab-content .ecommerce-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.ecommerce-tab .tabbable-line .tab-content .ecommerce-box .content-box {
    padding-top: 20px;
    padding-bottom: 30px;
}
.ecommerce-tab .tabbable-line .tab-content .ecommerce-box .content-box h3 {
    text-align: center;
    color: #693988;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: 600;
    margin-top: 0;
    margin: 5px 15px;
    font-size: 17px;
}
.ecommerce-tab .tabbable-line .tab-content .ecommerce-box .cart {
    background-color: #fff;
    padding: 12px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 40px;
    bottom: -24px;
    border: 1px solid #dfdfdf;
}
.ecommerce-tab .tabbable-line .tab-content .ecommerce-box .cart i {
    color: #707070;
    font-size: 20px;
}
.ecommerce-tab .tabbable-line .tab-content .ecommerce-box:hover .cart {
    background-color: #693988;
    border: 1px solid #693988;
    transition: 0.5s ease;
}
.ecommerce-tab .tabbable-line .tab-content .ecommerce-box:hover .cart i {
    color: #f7ad4d;
    transition: 0.5s ease;
}
.ecommerce-tab .tabbable-line h3 {
    text-align: center;
    color: #693988;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 30px;
}
.ecommerce-tab .tabbable-line .nav-tabs {
    border-bottom: 0;
}
#dataTableBuilder th.sorting_asc, #dataTableBuilder th.sorting_desc, #dataTableBuilder th.sorting{
    // min-width: 140px;
    max-width: 150px;
}
table.dataTable thead th, table.dataTable thead td{
    // min-width: 140px;
    max-width: 150px;
}
.ecommerce-tab .tabbable-line .nav-tabs li a {
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    background-color: #693988;
    border-radius: 25px;
    color: #fff;
    width: auto;
    padding: 10px 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: 700;
    box-shadow: 0px 2px 9px #6939886b;
}
.width200{
    width: 200px;
}
.ecommerce-tab .tabbable-line .nav-tabs li a:hover,
.ecommerce-tab .tabbable-line .nav-tabs li a:active {
    background-color: #faad50;
}
.ecommerce-tab .tabbable-line .nav-tabs li.active a {
    background-color: #faad50;
}
.ecommerce-tab .tab-content > .active {
    border: 0;
}
.text-purple { color: #693988; }
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    word-break: break-word;
}
.badge{
    line-height: 1.6;
}
div.dataTables_wrapper div.dataTables_processing{
    height: auto;
}
.navbar-fixed-bottom, .navbar-fixed-top{
    z-index: 9990;
}
.price-box{
    .contentheg{
        p{
            padding: 0px 10px;
        }
    }
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    span{
        position: relative;
    top: -3px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 767px){
    .navbar-default {
        .admin-nav{
            margin-bottom: 5px;
        }
        .navbar-nav > li{
            margin-bottom: 5px;
        }
    }

}
@media screen and (max-width: 1024px) and (min-width: 991px) {
.h-100{
    height: 100vh;
}
}
.images-size{
    width: 100%;
    height: 230px;
    overflow: hidden;
    position: relative;
    display: block;
    vertical-align: top;
    margin: 0 auto;
    margin-bottom: 20px;
    img{
        max-height: 100%;
    max-width: 100% !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto!important;
    }
}
.price-box{
.contentheg{
    min-height: 200px;
    max-height: 200px;
    overflow-x: auto;
    p{
        padding: 0px 10px;
    }
}
}
.price-box.center-div-price{
    .contentheg{
        min-height: 300px;
        max-height: 300px;
        overflow-x: auto;
    }
}
.price-section {
    .package-list {
        .rates{
            position: relative;
        }
    }
    .include-name{
        h4{
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 2;
        }
    }
}
.btn-group {
    .dropdown-menu {
        .dropdown-item{
    font-weight: 400;
        }
    }
}
.pdmd-20{
    padding: 20px;margin-bottom: 20px;
}
.no-section{
    p{}
}
@media screen and (max-width: 1200px) {
    span.round-tab:after{
        width: 100px;
    }
}
@media screen and (max-width: 767px) {
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
        display: none;
    }
    .width200{
        width: 100%;
    }
    .bd-10{margin-bottom: 10px;}
    .box-body > .buttons-group{
        display: grid;
        a{
            width: 100%;
        }
    }
    .export-csv, .create-article{
        margin-top: 16px;
         width: 100%;
    }
    .navbar-default {
        .admin-nav{
            display: contents;
        }
        .admin-nav.navbar-nav > li > a{
            border-top: 1px solid #f6ac4d;
            width: 100%;
            padding: 10px;
            text-align: left;
        }
    }

    span.round-tab:after{
        display: none!important;
    }
    .price-box{
        .contentheg{
            min-height: auto;
            max-height: fit-content;
        }
        }
        .price-box.center-div-price{
            .contentheg{
                min-height: auto;
                max-height: fit-content;
            }
        }
}
@media screen and (max-width: 400px) {
    .home-body-section {
        .no-section {
            ul {
                li{
                    min-width: 45px;
                }
            }
        }
    }
}
