@font-face {
    font-family: 'GE SS Two Bold';
    src: url("../fonts/GESSTwoBold-Bold.woff2") format("woff2"), url("../fonts/GESSTwoBold-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap; }
  @font-face {
    font-family: 'GE SS Two Medium';
    src: url("../fonts/GESSTwoMedium-Medium.woff2") format("woff2"), url("../fonts/GESSTwoMedium-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap; }
  @font-face {
    font-family: 'GE SS Two Light';
    src: url("../fonts/GESSTwoLight-Light.woff2") format("woff2"), url("../fonts/GESSTwoLight-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap; }
  body {
    margin: 0px;
    padding: 0px;
    background-image: url("../images/body-bg.png");
    font-family: 'GE SS Two Medium';
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 0 -425px;
  }
  .h-120 {
    height: 120vh; }

  .mt-180 {
    margin-top: 180px !important; }

  .pd-0-20 {
    padding: 0 20%; }

  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important; }

  .pd {
    padding-left: 0;
    padding-right: 0; }

  .input-group {
    margin-top: 5px; }
    .input-group .form-control {
      background-color: #F6F6F6;
      border-color: #f6f6f6;
      border: 1px solid #f6f6f6;
      box-shadow: none;
      font-family: 'Baloo Thambi 2', cursive;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }

  .input-group-addon {
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }

  .btn-defualt {
    background-color: #693988;
    color: #fff;
    border: 0;
    padding: 10px 30px;
    border-radius: 26px;
    font-size: 18px;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 400;
    box-shadow: 0px 2px 9px #6939886b;
    border: 2px solid #693988;
    transition: .5s ease; }
    .btn-defualt:hover, .btn-defualt:focus {
      background-color: transparent;
      border: 2px solid #693988;
      color: #693988;
      transition: .5s ease;
      text-decoration: none;
      outline: none; }

  .mb-10 {
    margin-bottom: 10px; }

  .navbar-default {
    background-color: #6a3b92;
    min-height: 100px;
    box-shadow: 0px 5px 20px #00000052;
    border-color: transparent; }
    .navbar-default img {
      outline: none; }
    .navbar-default .navbar-nav {
      text-align: center;
      float: right; }
      .navbar-default .navbar-nav > li {
        display: inline-block; }
    .navbar-default .navbar-nav > li > a {
      color: #F9AC50;
      font-size: 17px;
      font-weight: 700;
      padding: 40px 15px;
      font-family: 'GE SS Two Light'; }
      .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
        color: #fdfcfd; }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
      color: #F9AC50;
      background-color: transparent; }
    .navbar-default .logo-bg {
      position: relative;
      top: -24px;
      left: -50px; }
    .navbar-default .main-logo {
      display: block;
      z-index: 99999;
      position: relative;
      height: 60px;
      margin-left: 10px;
      margin-top: 10px; }

  .home-body-section {
    margin-top: 150px; }
    .home-body-section .no-section {
      margin-top: 30px; }
      .home-body-section .no-section p {
        font-family: 'Baloo Thambi 2', cursive;
        text-align: left;
        margin-bottom: 0;
        padding-top: 7px; }
      .home-body-section .no-section .pd {
        padding-left: 0;
        padding-right: 0; }
      .home-body-section .no-section ul {
        list-style: none;
        display: inline-flex;
        padding: 0; }
        .home-body-section .no-section ul li {
          background-color: #fff;
          height: 40px;
          min-width: 108px;
          vertical-align: middle;
          text-align: center;
          padding: 10px;
          font-family: 'Baloo Thambi 2', cursive;
          font-weight: 500;
          transition: .5s ease; }
          .home-body-section .no-section ul li:hover, .home-body-section .no-section ul li:active {
            background-color: #F7AB50;
            transition: .5s ease; }
        .home-body-section .no-section ul li:first-child {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px; }
        .home-body-section .no-section ul li:last-child {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px; }
    .home-body-section h2 {
      text-align: center;
      color: #693988;
      font-size: 40px; }
    .home-body-section p {
      text-align: center;
      font-family: 'GE SS Two Light';
      color: #fff;
      font-size: 20px; }

  .price-section {
    margin: 10px 0; }
    .price-section .price-box.center-div-price {
      background-color: #693988;
      margin-top: -40px;
      position: relative;
      z-index: 99; }
      .price-section .trial-text {
        margin: 0 0 11px;
        font-size: 22px;
        color: #693988;
        font-family: 'Baloo Thambi 2',cursive;
        font-weight: 600;
      }
      .price-section .trial-text a {
        margin-left: 15px;
        padding: 4px 25px;
      }
      .price-section .price-box.center-div-price .price-name h3 {
        color: #fff; }
      .price-section .price-box.center-div-price .package-list {
        min-height: 300px; }
      .price-section .price-box.center-div-price .price-btn {
        background-color: #f7ab50;
        box-shadow: 0px 2px 9px #fcab5066;
        border: 2px solid #f7ab50;
        transition: .5s ease; }
        .price-section .price-box.center-div-price .price-btn:hover, .price-section .price-box.center-div-price .price-btn:focus {
          background-color: transparent;
          border: 2px solid #f7ab50;
          color: #f7ab50;
          transition: .5s ease;
          text-decoration: none;
          outline: none; }
    .price-section .price-box {
      background-color: #F7AB50;
      border-radius: 18px;
      position: relative; }
    .price-section .price-name h3 {
      text-align: center;
      padding: 20px;
      font-size: 30px;
      color: #693988;
      font-family: 'Baloo Thambi 2', cursive;
      font-weight: 600;
      margin-bottom: 0; }
    .price-section .include-name {
      background-color: #EFEFEF;
      padding: 9px 0; }
      .price-section .include-name h4 {
        text-align: center;
        color: #693988;
        font-family: 'Baloo Thambi 2', cursive;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 500; }
    .price-section .package-list {
      background-color: #fff;
      padding: 20px;
      min-height: 210px;
      position: relative; }
      .price-section .package-list ul {
        padding-left: 0; }
        .price-section .package-list ul li {
          font-size: 16px;
          color: #693988;
          font-family: 'Baloo Thambi 2', cursive;
          margin-bottom: 0;
          font-weight: 500;
          line-height: 2;
          list-style: none; }
          .price-section .package-list ul li img {
            margin-right: 10px;
            width: 16px; }
      .price-section .package-list .rates {
        text-align: center;
        margin-top: 15px;}
        .price-section .package-list .rates span {
          color: #F7AB50;
          font-size: 26px;
          font-family: 'Baloo Thambi 2', cursive;
          font-weight: 600; }
    .price-section .price-footer {
      text-align: center;
      padding: 20px; }
      .price-section .price-footer .price-btn {
        background-color: #693988;
        color: #fff;
        border: 0;
        padding: 5px 15px;
        border-radius: 26px;
        font-size: 16px;
        font-family: 'Baloo Thambi 2', cursive;
        font-weight: 400;
        box-shadow: 0px 2px 9px #6939886b;
        border: 2px solid #693988;
        transition: .5s ease; }
        .price-section .price-footer .price-btn:hover, .price-section .price-footer .price-btn:focus {
          background-color: transparent;
          border: 2px solid #693988;
          color: #693988;
          transition: .5s ease;
          text-decoration: none;
          outline: none; }

  .looking-for-section {
    background-image: url("../images/looking-for-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 35px;
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 30px;
    margin-bottom: -1px; }
    .looking-for-section p {
      font-family: 'Baloo Thambi 2', cursive;
      font-size: 28px;
      color: #fff;
      font-weight: 600; }

  .main-footer {
    background-color: #693988;
    padding-top: 20px;
    padding-bottom: 20px; }
    .main-footer .footer-col {
      margin-top: 20px;
      text-align: center; }
      .main-footer .footer-col .heading-footer h2 {
        color: #fff;
        font-size: 22px; }
      .main-footer .footer-col img {
        margin-top: 30px;
        margin-bottom: 30px; }
      .main-footer .footer-col ul {
        list-style: none;
        display: inline-flex;
        padding-left: 0;
        margin-top: 40px; }
        .main-footer .footer-col ul li {
          width: 40px; }
          .main-footer .footer-col ul li a i {
            color: #e7e8e7;
            font-size: 18px;
            border: 3px solid #e7e8e7;
            width: 35px;
            height: 35px;
            border-radius: 30px;
            align-items: center;
            display: grid;
            transition: .5s ease; }
            .main-footer .footer-col ul li a i:hover {
              color: #f9ac50;
              border: 3px solid #f9ac50;
              transition: .5s ease; }
      .main-footer .footer-col p {
        margin-top: 50px; }
        .main-footer .footer-col p a {
          color: #e7e8e7;
          font-size: 25px;
          font-family: 'Baloo Thambi 2', cursive;
          font-weight: 600;
          transition: .5s ease; }
          .main-footer .footer-col p a:hover {
            color: #f9ac50;
            text-decoration: none;
            transition: .5s ease; }

  .login-screen {
    background-image: url("../images/login-bg.png");
    background-size: cover;
    background-repeat: no-repeat; }
    .login-screen .login-white-div {
      background-color: #fff;
      padding: 30px;
      margin-top: 250px;
      border-radius: 7px; }
      .login-screen .login-white-div h2 {
        text-align: center;
        color: #693988;
        font-family: 'Baloo Thambi 2', cursive;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 16px; }
        .login-screen .login-white-div h2 span {
          color: #F7AB50; }
      .login-screen .login-white-div .float-text {
        float: right;
        text-decoration: none; }
      .login-screen .login-white-div .forget-password a {
        color: #F7AB50;
        font-family: 'Baloo Thambi 2', cursive; }
        .login-screen .login-white-div .forget-password a:hover {
          color: #693988; }
      .login-screen .login-white-div .submit-bth {
        margin-top: 10px;
        text-align: center; }
        .login-screen .login-white-div .submit-bth .btn-login {
          width: 100%;
          background-color: #693988;
          color: #fff;
          font-family: 'Baloo Thambi 2', cursive;
          margin-bottom: 10px;
          margin-top: 10px;
          border-radius: 5px;
          font-weight: 500; }
        .login-screen .login-white-div .submit-bth span {
          text-align: center;
          color: #F7AB50;
          font-family: 'Baloo Thambi 2', cursive;
          font-weight: 500; }
          .login-screen .login-white-div .submit-bth span a {
            color: #693988;
            margin-left: 3px; }

  .step-form .wizard {
    margin: 20px auto;
    background: transparent;
    margin-top: 150px; }
    .step-form .wizard .nav-tabs {
      position: relative;
      margin: 40px auto;
      margin-bottom: 0;
      border-bottom-color: #e0e0e0;
      border-bottom: 1px solid transparent; }
    .step-form .wizard .tab-content {
      background-color: #fff;
      border-radius: 10px;
      padding: 20px 50px; }
      .step-form .wizard .tab-content .input-group {
        margin-bottom: 10px; }
      .step-form .wizard .tab-content .submit-bth {
        text-align: center; }
        .step-form .wizard .tab-content .submit-bth .btn-login {
          background-color: #693988;
          color: #fff;
          font-family: 'Baloo Thambi 2', cursive;
          margin-bottom: 10px;
          margin-top: 10px;
          border-radius: 5px;
          font-weight: 500;
          width: 25%;
          border: 2px solid #693988;
          transition: .5s ease; }
          .step-form .wizard .tab-content .submit-bth .btn-login:hover, .step-form .wizard .tab-content .submit-bth .btn-login:active, .step-form .wizard .tab-content .submit-bth .btn-login:focus {
            background-color: transparent;
            border: 2px solid #693988;
            color: #693988;
            transition: .5s ease;
            text-decoration: none;
            outline: none; }
      .step-form .wizard .tab-content h3 {
        text-align: center;
        font-family: 'Baloo Thambi 2', cursive;
        font-weight: 500;
        font-size: 35px;
        color: #693988; }
        .step-form .wizard .tab-content h3 span {
          color: #F7AB50; }
    .step-form .wizard #step2 p {
      font-family: 'Baloo Thambi 2', cursive;
      font-weight: 500;
      margin-bottom: 0px;
      color: #693988; }
      .step-form .wizard #step2 p b {
        color: #f7ab5b; }
    .step-form .wizard #step2 h3 {
      margin-bottom: 25px; }
    .step-form .wizard #step2 .col-lg-4 {
      padding: 0; }
    .step-form .wizard #step2 img {
      float: right; }
    .step-form .wizard #step2 .list-payment-div {
      background-color: #F6F6F6;
      margin-top: 25px; }
      .step-form .wizard #step2 .list-payment-div h2 {
        color: #693988;
        font-size: 20px;
        text-align: center;
        padding: 30px;
        font-family: 'Baloo Thambi 2', cursive;
        font-weight: 400; }
    .step-form .wizard #step3 {
      text-align: center; }
      .step-form .wizard #step3 h3 {
        margin-top: 10px; }
      .step-form .wizard #step3 p {
        color: #693988;
        font-family: 'Baloo Thambi 2', cursive;
        margin-bottom: 1px;
        font-weight: 500; }
      .step-form .wizard #step3 .submit-bth {
        margin-top: 25px; }
  .step-form .wizard > div.wizard-inner {
    position: relative; }
  .step-form .connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1; }

  .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #6a3b92;
    cursor: default;
    border: 0;
    border-bottom-color: transparent; }

  span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: transparent;
    border: 2px solid #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 30px;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 600;
    color: #fff; }
    span.round-tab:after {
      content: " ";
      height: 3px;
      width: 150px;
      background-color: #fff;
      position: absolute;
      top: 30px;
      left: 82px;
      border-radius: 20px; }

  .wizard li:last-child a span:after {
    display: none; }

  span.round-tab i {
    color: #555555; }

  .nav > li.disabled > a {
    color: #fff; }

  .wizard li.active span.round-tab {
    background: #F7AB50;
    border: 2px solid #F7AB50;
    color: #6a3b92; }

  .wizard li.active span.round-tab i {
    color: #5bc0de; }

  span.round-tab:hover {
    color: #fff;
    border: 2px solid #fff; }

  .wizard .nav-tabs > li {
    width: 33%; }

  .wizard .nav-tabs > li > p {
    color: #fff;
    text-align: center;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 500;
    font-size: 20px; }

  .wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out; }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ffffff; }

  .wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0; }

  /* .wizard .nav-tabs > li a:hover,.wizard .nav-tabs > li a:focus {
          color: #6a3b92;
          background: #f7ab50;
          border: 2px solid #F7AB50;
   }*/
  .wizard .tab-pane {
    position: relative;
    padding-top: 20px; }

  .wizard h3 {
    margin-top: 0; }

  @media (max-width: 585px) {
    .wizard {
      width: 90%;
      height: auto !important; }

    span.round-tab {
      font-size: 16px;
      width: 50px;
      height: 50px;
      line-height: 50px; }

    .wizard .nav-tabs > li a {
      width: 50px;
      height: 50px;
      line-height: 50px; }

    .wizard li.active:after {
      content: " ";
      position: absolute;
      left: 35%; } }
  .dashboard-screen .dashboard-leftside {
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.25); }
    .dashboard-screen .dashboard-leftside h2 {
      padding: 0px;
      font-family: 'Baloo Thambi 2', cursive;
      font-weight: 500;
      color: #F7AB50;
      margin-top: 0; }
    .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .nav-tabs {
      border-bottom: 1px solid transparent; }
      .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .nav-tabs li {
        background-color: #693988;
        box-shadow: 0px 2px 9px #6939886b;
        border-radius: 20px;
        margin-right: 10px; }
        .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .nav-tabs li a {
          display: flex;
          min-width: 170px;
          height: 77px;
          border-radius: 20px;
          margin-right: 0; }
          .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .nav-tabs li a:hover {
            background-color: #F7AB50;
            box-shadow: 0px 2px 9px #f7ab506b;
            border-radius: 20px;
            border-color: #f7ab50; }
          .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .nav-tabs li a ul {
            list-style: none;
            padding-left: 0;
            width: 100px;
            margin-top: 5px; }
            .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .nav-tabs li a ul li {
              background-color: transparent;
              box-shadow: none;
              text-align: right;
              color: #fff;
              font-family: 'Baloo Thambi 2', cursive;
              font-weight: 600;
              margin-right: 0;
              font-size: 17px; }
      .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .nav-tabs li.active > a {
        background-color: #F7AB50;
        box-shadow: 0px 2px 9px #f7ab506b;
        border-radius: 20px; }
    .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .tab-content .nothing-is-here {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 30px; }
      .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .tab-content .nothing-is-here h2 {
        color: #693988; }
    .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .tab-content .game-section {
      margin-top: 30px; }
      .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .tab-content .game-section .content h3 {
        font-family: 'Baloo Thambi 2', cursive;
        font-weight: 600;
        color: #F7AB50;
        margin: 7px 0; }
      .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .tab-content .game-section .content ul {
        list-style: none;
        padding-left: 0px;
        display: inline-flex; }
        .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .tab-content .game-section .content ul li {
          color: #693988;
          font-family: 'Baloo Thambi 2', cursive;
          display: flex;
          margin-right: 10px; }
          .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .tab-content .game-section .content ul li img {
            margin-right: 5px; }
  .dashboard-screen .dashboard-leftside {
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 15px; }
    .dashboard-screen .dashboard-leftside h2 {
      padding: 0px;
      font-family: 'Baloo Thambi 2', cursive;
      font-weight: 500;
      color: #F7AB50;
      margin-top: 0; }
    .dashboard-screen .dashboard-leftside p {
      font-family: 'Baloo Thambi 2', cursive;
      color: #545454;
      font-weight: 500; }
    .dashboard-screen .dashboard-leftside .submit-bth {
      margin-top: 0px;
      text-align: center; }
      .dashboard-screen .dashboard-leftside .submit-bth .btn-login {
        background-color: #693988;
        color: #fff;
        font-family: 'Baloo Thambi 2', cursive;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 25px;
        font-weight: 500;
        padding: 8px 40px;
        box-shadow: 0px 2px 9px #6939886b;
        transition: .5s ease; }
        .dashboard-screen .dashboard-leftside .submit-bth .btn-login:hover, .dashboard-screen .dashboard-leftside .submit-bth .btn-login:active, .dashboard-screen .dashboard-leftside .submit-bth .btn-login:focus {
          background-color: transparent;
          border: 2px solid #693988;
          color: #693988;
          transition: .5s ease;
          text-decoration: none;
          outline: none; }
    .dashboard-screen .dashboard-leftside .form-group .form-control {
      background-color: #F6F6F6 !important;
      border-color: #f6f6f6;
      border: 1px solid #f6f6f6;
      box-shadow: none;
      font-family: 'Baloo Thambi 2', cursive;
      border-radius: 7px;
      color: #6A3B92; }

  .new-game-screen .login-white-div {
    border-radius: 24px; }
  .new-game-screen .form-group {
    margin-top: 20px; }
    .new-game-screen .form-group .form-control {
      background-color: #F6F6F6 !important;
      border-color: #f6f6f6;
      border: 1px solid #f6f6f6;
      box-shadow: none;
      font-family: 'Baloo Thambi 2', cursive;
      border-radius: 7px;
      color: #6A3B92; }
  .new-game-screen .submit-bth {
    margin-top: 30px;
    text-align: center;
    width: 70% !important;
    float: right; }
    .new-game-screen .submit-bth .btn-login {
      background-color: #693988;
      color: #fff;
      font-family: 'Baloo Thambi 2', cursive;
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 25px !important;
      font-weight: 500;
      padding: 8px 40px !important;
      box-shadow: 0px 2px 9px #6939886b;
      transition: .5s ease; }
      .new-game-screen .submit-bth .btn-login:hover, .new-game-screen .submit-bth .btn-login:active, .new-game-screen .submit-bth .btn-login:focus {
        background-color: transparent;
        border: 2px solid #693988;
        color: #693988;
        transition: .5s ease;
        text-decoration: none;
        outline: none; }
  .new-game-screen .image-placeholder .placeholder-img {
    min-height: 130px;
    max-height: 130px; }
  .new-game-screen .image-placeholder .submit-bth {
    float: left;
    margin: 0 auto;
    text-align: center;
    display: contents; }
    .new-game-screen .image-placeholder .submit-bth .btn-login {
      margin-top: 30px; }
  .new-game-screen .image-placeholder p {
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 12px; }
  .new-game-screen .mt-60 {
    margin-top: 60px !important; }

  @media (max-width: 992px) {
    .navbar-default .navbar-toggle {
      padding: 30px 10px;
      border-color: transparent; }
      .navbar-default .navbar-toggle:hover {
        background-color: transparent; }
      .navbar-default .navbar-toggle Span {
        background-color: #f6ac4e !important; }
    .navbar-default .navbar-collapse {
      border-color: transparent; }
    .navbar-default .navbar-nav > li {
      display: block; }
      .navbar-default .navbar-nav > li a {
        float: right;
        text-align: right; } }
  @media (max-width: 767px) {
    body {
      background-size: cover;
      background-repeat: no-repeat; }

    .pd-0-20 {
      padding: 0 5%; }

    .h-120 {
      height: auto;
      padding-bottom: 60px; }

    .pd {
      padding-left: 15px;
      padding-right: 15px; }

    .new-game-screen .image-placeholder .placeholder-img {
      min-height: 100px;
      max-height: 100px; }
    .new-game-screen .image-placeholder .submit-bth .btn-login {
      margin-top: 20px; }
    .new-game-screen .submit-bth {
      width: 100% !important;
      float: inherit; }
      .new-game-screen .submit-bth .btn-login {
        width: 100% !important; }
    .new-game-screen .mt-60 {
      margin-top: 0 !important; }

    .dashboard-screen .dashboard-leftside {
      margin-top: 20px; }
      .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .nav-tabs li {
        float: inherit;
        margin-bottom: 10px;
        margin-right: 0; }
        .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .nav-tabs li a ul {
          width: 100%; }
          .dashboard-screen .dashboard-leftside .tabbable-panel .tabbable-line .nav-tabs li a ul li {
            width: 98%;
            margin-bottom: 0; }

    .game-section figure {
      text-align: center; }
    .game-section .content {
      text-align: center;
      margin-bottom: 20px; }

    .step-form .wizard .tab-content {
      padding: 20px 20px; }
      .step-form .wizard .tab-content .submit-bth .btn-login {
        width: 100%;
        margin-bottom: 5px;
        margin-top: 8px; }
      .step-form .wizard .tab-content .input-group {
        margin: 5px 20px 0px; }
    .step-form .wizard #step2 .col-lg-4 {
      padding-right: 15px;
      padding-left: 15px; }
    .step-form .wizard #step2 img {
      float: inherit; }

    span.round-tab:after {
      top: 23px;
      left: 52px;
      width: 55px; }

    .xs-top {
      margin-top: 20px; }

    .home-body-section .no-section ul li {
      min-width: 60px; }
    .home-body-section .no-section .pd {
      padding-left: 15px;
      padding-right: 15px;
      text-align: center; }
    .home-body-section .no-section p {
      text-align: center;
      margin-bottom: 5px; }

    .price-section .price-box.center-div-price {
      margin-top: 0px; }

    .looking-for-section {
      background-color: transparent;
      background-position: center;
      padding-top: 80px;
      margin-top: 20px; }
      .looking-for-section .btn-defualt {
        margin: 0 auto;
        text-align: center;
        display: block; } }

 .select2-container--bootstrap {
    display: block;
  }

  .select2-container--bootstrap .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555555;
    font-size: 14px;
    outline: 0;
  }

  .select2-container--bootstrap .select2-selection.form-control {
    border-radius: 4px;
  }

  .select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555555;
    font-size: 14px;
  }

  .select2-container--bootstrap .select2-search__field {
    outline: 0;
  }

  .select2-container--bootstrap .select2-search__field::-webkit-input-placeholder {
    color: #999;
  }

  .select2-container--bootstrap .select2-search__field:-moz-placeholder {
    color: #999;
  }

  .select2-container--bootstrap .select2-search__field::-moz-placeholder {
    color: #999;
    opacity: 1;
  }

  .select2-container--bootstrap .select2-search__field:-ms-input-placeholder {
    color: #999;
  }

  .select2-container--bootstrap .select2-results__option {
    padding: 6px 12px;
  }

  .select2-container--bootstrap .select2-results__option[role=group] {
    padding: 0;
  }

  .select2-container--bootstrap .select2-results__option[aria-disabled=true] {
    color: #777777;
    cursor: not-allowed;
  }

  .select2-container--bootstrap .select2-results__option[aria-selected=true] {
    background-color: #f5f5f5;
    color: #262626;
  }

  .select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #337ab7;
    color: #fff;
  }

  .select2-container--bootstrap .select2-results__option .select2-results__option {
    padding: 6px 12px;
  }

  .select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0;
  }

  .select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -12px;
    padding-left: 24px;
  }

  .select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -24px;
    padding-left: 36px;
  }

  .select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -36px;
    padding-left: 48px;
  }

  .select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -48px;
    padding-left: 60px;
  }

  .select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -60px;
    padding-left: 72px;
  }

  .select2-container--bootstrap .select2-results__group {
    color: #777777;
    display: block;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    white-space: nowrap;
  }

  .select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    border-color: #66afe9;
  }

  .select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow b {
    border-color: transparent transparent #999 transparent;
    border-width: 0 4px 4px 4px;
  }

  .select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-color: transparent;
  }

  .select2-container--bootstrap.select2-container--open.select2-container--above .select2-selection {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-color: transparent;
  }

  .select2-container--bootstrap .select2-selection__clear {
    color: #999;
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px;
  }

  .select2-container--bootstrap .select2-selection__clear:hover {
    color: #333;
  }

  .select2-container--bootstrap.select2-container--disabled .select2-selection {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .select2-container--bootstrap.select2-container--disabled .select2-selection,
  .select2-container--bootstrap.select2-container--disabled .select2-search__field {
    cursor: not-allowed;
  }

  .select2-container--bootstrap.select2-container--disabled .select2-selection,
  .select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
    background-color: #eeeeee;
  }

  .select2-container--bootstrap.select2-container--disabled .select2-selection__clear,
  .select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice__remove {
    display: none;
  }

  .select2-container--bootstrap .select2-dropdown {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-color: #66afe9;
    overflow-x: hidden;
    margin-top: -1px;
  }

  .select2-container--bootstrap .select2-dropdown--above {
    -webkit-box-shadow: 0px -6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0px -6px 12px rgba(0, 0, 0, 0.175);
    margin-top: 1px;
  }

  .select2-container--bootstrap .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
  }

  .select2-container--bootstrap .select2-selection--single {
    height: 34px !important;
    line-height: 1.42857143;
    padding: 6px 24px 6px 12px;
  }

  .select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    position: absolute;
    bottom: 0;
    right: 12px;
    top: 0;
    width: 4px;
  }

  .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
    border-color: #999 transparent transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    height: 0;
    left: 0;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
  }

  .select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #555555;
    padding: 0;
  }

  .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
    color: #999;
  }

  .select2-container--bootstrap .select2-selection--multiple {
    min-height: 34px;
    padding: 0;
    height: auto;
  }

  .select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    line-height: 1.42857143;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .select2-container--bootstrap .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    float: left;
    margin-top: 5px;
  }

  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    color: #555555;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin: 5px 0 0 6px;
    padding: 0 6px;
  }

  .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    background: transparent;
    padding: 0 12px;
    height: 32px;
    line-height: 1.42857143;
    margin-top: 0;
    min-width: 5em;
  }

  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 3px;
  }

  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333;
  }

  .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear {
    margin-top: 6px;
  }

  .select2-container--bootstrap .select2-selection--single.input-sm,
  .input-group-sm .select2-container--bootstrap .select2-selection--single,
  .form-group-sm .select2-container--bootstrap .select2-selection--single {
    border-radius: 3px;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 22px 5px 10px;
    /* 2 */
  }

  .select2-container--bootstrap .select2-selection--single.input-sm .select2-selection__arrow b,
  .input-group-sm .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b,
  .form-group-sm .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
    margin-left: -5px;
  }

  .select2-container--bootstrap .select2-selection--multiple.input-sm,
  .input-group-sm .select2-container--bootstrap .select2-selection--multiple,
  .form-group-sm .select2-container--bootstrap .select2-selection--multiple {
    min-height: 30px;
    border-radius: 3px;
  }

  .select2-container--bootstrap .select2-selection--multiple.input-sm .select2-selection__choice,
  .input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice,
  .form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    font-size: 12px;
    line-height: 1.5;
    margin: 4px 0 0 5px;
    padding: 0 5px;
  }

  .select2-container--bootstrap .select2-selection--multiple.input-sm .select2-search--inline .select2-search__field,
  .input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,
  .form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 0 10px;
    font-size: 12px;
    height: 28px;
    line-height: 1.5;
  }

  .select2-container--bootstrap .select2-selection--multiple.input-sm .select2-selection__clear,
  .input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear,
  .form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear {
    margin-top: 5px;
  }

  .select2-container--bootstrap .select2-selection--single.input-lg,
  .input-group-lg .select2-container--bootstrap .select2-selection--single,
  .form-group-lg .select2-container--bootstrap .select2-selection--single {
    border-radius: 6px;
    font-size: 18px;
    height: 46px;
    line-height: 1.3333333;
    padding: 10px 31px 10px 16px;
    /* 1 */
  }

  .select2-container--bootstrap .select2-selection--single.input-lg .select2-selection__arrow,
  .input-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow,
  .form-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    width: 5px;
  }

  .select2-container--bootstrap .select2-selection--single.input-lg .select2-selection__arrow b,
  .input-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b,
  .form-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
    border-width: 5px 5px 0 5px;
    margin-left: -5px;
    margin-left: -10px;
    margin-top: -2.5px;
  }

  .select2-container--bootstrap .select2-selection--multiple.input-lg,
  .input-group-lg .select2-container--bootstrap .select2-selection--multiple,
  .form-group-lg .select2-container--bootstrap .select2-selection--multiple {
    min-height: 46px;
    border-radius: 6px;
  }

  .select2-container--bootstrap .select2-selection--multiple.input-lg .select2-selection__choice,
  .input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice,
  .form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 4px;
    margin: 9px 0 0 8px;
    padding: 0 10px;
  }

  .select2-container--bootstrap .select2-selection--multiple.input-lg .select2-search--inline .select2-search__field,
  .input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,
  .form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 0 16px;
    font-size: 18px;
    height: 44px;
    line-height: 1.3333333;
  }

  .select2-container--bootstrap .select2-selection--multiple.input-lg .select2-selection__clear,
  .input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear,
  .form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear {
    margin-top: 10px;
  }

  .select2-container--bootstrap .select2-selection.input-lg.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #999 transparent;
    border-width: 0 5px 5px 5px;
  }

  .input-group-lg .select2-container--bootstrap .select2-selection.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #999 transparent;
    border-width: 0 5px 5px 5px;
  }

  .select2-container--bootstrap[dir="rtl"] .select2-selection--single {
    padding-left: 24px;
    padding-right: 12px;
  }

  .select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 0;
    padding-left: 0;
    text-align: right;
    /* 1 */
  }

  .select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
  }

  .select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 12px;
    right: auto;
  }

  .select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__arrow b {
    margin-left: 0;
  }

  .select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
  .select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
  .select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right;
  }

  .select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 0;
    margin-right: 6px;
  }

  .select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto;
  }

  .has-warning .select2-dropdown,
  .has-warning .select2-selection {
    border-color: #8a6d3b;
  }

  .has-warning .select2-container--focus .select2-selection,
  .has-warning .select2-container--open .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    border-color: #66512c;
  }

  .has-warning.select2-drop-active {
    border-color: #66512c;
  }

  .has-warning.select2-drop-active.select2-drop.select2-drop-above {
    border-top-color: #66512c;
  }

  .has-error .select2-dropdown,
  .has-error .select2-selection {
    border-color: #a94442;
  }

  .has-error .select2-container--focus .select2-selection,
  .has-error .select2-container--open .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    border-color: #843534;
  }

  .has-error.select2-drop-active {
    border-color: #843534;
  }

  .has-error.select2-drop-active.select2-drop.select2-drop-above {
    border-top-color: #843534;
  }

  .has-success .select2-dropdown,
  .has-success .select2-selection {
    border-color: #3c763d;
  }

  .has-success .select2-container--focus .select2-selection,
  .has-success .select2-container--open .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    border-color: #2b542c;
  }

  .has-success.select2-drop-active {
    border-color: #2b542c;
  }

  .has-success.select2-drop-active.select2-drop.select2-drop-above {
    border-top-color: #2b542c;
  }

  .input-group > .select2-hidden-accessible:first-child + .select2-container--bootstrap > .selection > .select2-selection,
  .input-group > .select2-hidden-accessible:first-child + .select2-container--bootstrap > .selection > .select2-selection.form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .input-group > .select2-hidden-accessible:not(:first-child) + .select2-container--bootstrap:not(:last-child) > .selection > .select2-selection,
  .input-group > .select2-hidden-accessible:not(:first-child) + .select2-container--bootstrap:not(:last-child) > .selection > .select2-selection.form-control {
    border-radius: 0;
  }

  .input-group > .select2-hidden-accessible:not(:first-child):not(:last-child) + .select2-container--bootstrap:last-child > .selection > .select2-selection,
  .input-group > .select2-hidden-accessible:not(:first-child):not(:last-child) + .select2-container--bootstrap:last-child > .selection > .select2-selection.form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .input-group > .select2-container--bootstrap {
    display: table;
    table-layout: fixed;
    position: relative;
    z-index: 2;
    width: 100%;
    margin-bottom: 0;
  }

  .input-group > .select2-container--bootstrap > .selection > .select2-selection.form-control {
    float: none;
  }

  .input-group > .select2-container--bootstrap.select2-container--open, .input-group > .select2-container--bootstrap.select2-container--focus {
    z-index: 3;
  }

  .input-group > .select2-container--bootstrap,
  .input-group > .select2-container--bootstrap .input-group-btn,
  .input-group > .select2-container--bootstrap .input-group-btn .btn {
    vertical-align: top;
  }

  .form-control.select2-hidden-accessible {
    position: absolute !important;
    width: 1px !important;
  }

  @media (min-width: 768px) {
    .form-inline .select2-container--bootstrap {
      display: inline-block;
    }
  }
